@charset "UTF-8";
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
/* line 2, ../scss/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

/* line 2, ../scss/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 2, ../scss/_reset.scss */
body {
  line-height: 1;
}

/* line 2, ../scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 2, ../scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 2, ../scss/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

/* line 2, ../scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 3, ../scss/_reset.scss */
ul,
ol {
  list-style: none;
}

/* Media queries */
/* line 9, ../scss/_layout.scss */
.container {
  margin: 0 auto;
  max-width: 992px;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1200px) {
  /* line 9, ../scss/_layout.scss */
  .container {
    max-width: 1200px;
  }
}

/* line 19, ../scss/_layout.scss */
.container-medium {
  margin: 0 auto;
  max-width: 768px;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 992px) {
  /* line 19, ../scss/_layout.scss */
  .container-medium {
    max-width: 992px;
  }
}

/* line 29, ../scss/_layout.scss */
.container-small {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 600px;
}

/* line 36, ../scss/_layout.scss */
.container-fluid {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 42, ../scss/_layout.scss */
.container-txt {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 430px;
}

/* line 49, ../scss/_layout.scss */
.row {
  margin-left: -15px;
  margin-right: -15px;
}

/* line 54, ../scss/_layout.scss */
.island-top, .island {
  padding-top: 30px;
}
@media screen and (min-width: 768px) {
  /* line 54, ../scss/_layout.scss */
  .island-top, .island {
    padding-top: 37.5px;
  }
}
@media screen and (min-width: 1600px) {
  /* line 54, ../scss/_layout.scss */
  .island-top, .island {
    padding-top: 52.5px;
  }
}

/* line 63, ../scss/_layout.scss */
.island-bottom, .island {
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
  /* line 63, ../scss/_layout.scss */
  .island-bottom, .island {
    padding-bottom: 37.5px;
  }
}
@media screen and (min-width: 1600px) {
  /* line 63, ../scss/_layout.scss */
  .island-bottom, .island {
    padding-bottom: 52.5px;
  }
}

/* line 83, ../scss/_layout.scss */
.island-top-small, .island-small {
  padding-top: 15px;
}
@media screen and (min-width: 768px) {
  /* line 83, ../scss/_layout.scss */
  .island-top-small, .island-small {
    padding-top: 18.75px;
  }
}
@media screen and (min-width: 1600px) {
  /* line 83, ../scss/_layout.scss */
  .island-top-small, .island-small {
    padding-top: 26.25px;
  }
}

/* line 92, ../scss/_layout.scss */
.island-bottom-small, .island-small {
  padding-bottom: 15px;
}
@media screen and (min-width: 768px) {
  /* line 92, ../scss/_layout.scss */
  .island-bottom-small, .island-small {
    padding-bottom: 18.75px;
  }
}
@media screen and (min-width: 1600px) {
  /* line 92, ../scss/_layout.scss */
  .island-bottom-small, .island-small {
    padding-bottom: 26.25px;
  }
}

/* line 112, ../scss/_layout.scss */
.island-top-big, .island-big {
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  /* line 112, ../scss/_layout.scss */
  .island-top-big, .island-big {
    padding-top: 105px;
  }
}
@media screen and (min-width: 1600px) {
  /* line 112, ../scss/_layout.scss */
  .island-top-big, .island-big {
    padding-top: 120px;
  }
}

/* line 121, ../scss/_layout.scss */
.island-bottom-big, .island-big {
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  /* line 121, ../scss/_layout.scss */
  .island-bottom-big, .island-big {
    padding-bottom: 105px;
  }
}
@media screen and (min-width: 1600px) {
  /* line 121, ../scss/_layout.scss */
  .island-bottom-big, .island-big {
    padding-bottom: 120px;
  }
}

/* line 7, ../scss/_colors.scss */
.scheme-blue {
  background-color: #6ea7af;
  color: white;
}
/* line 10, ../scss/_colors.scss */
.scheme-blue .radial-gradient {
  background: -moz-radial-gradient(center, ellipse cover, rgba(215, 245, 232, 0.52) 0%, rgba(215, 245, 232, 0) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(215, 245, 232, 0.52) 0%, rgba(215, 245, 232, 0) 100%);
  background: radial-gradient(ellipse at center, rgba(215, 245, 232, 0.52) 0%, rgba(215, 245, 232, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85d7f5e8', endColorstr='#00d7f5e8',GradientType=1 );
}

/* line 21, ../scss/_colors.scss */
.scheme-red {
  background-color: #a82e3a;
  color: white;
}
/* line 24, ../scss/_colors.scss */
.scheme-red .highlight {
  color: #fff4bf;
}
/* line 27, ../scss/_colors.scss */
.scheme-red .radial-gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d6a7a5+0,d6a7a5+100&0.64+0,0+100 */
  background: -moz-radial-gradient(center, ellipse cover, rgba(214, 167, 165, 0.4) 0%, rgba(214, 167, 165, 0) 70%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(214, 167, 165, 0.4) 0%, rgba(214, 167, 165, 0) 70%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(214, 167, 165, 0.4) 0%, rgba(214, 167, 165, 0) 70%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3d6a7a5', endColorstr='#00d6a7a5',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

/* line 1, ../scss/_typography.scss */
html {
  font-size: 10px;
}
@media screen and (min-width: 480px) {
  /* line 1, ../scss/_typography.scss */
  html {
    font-size: 16px;
  }
}

/* line 9, ../scss/_typography.scss */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: inherit;
  line-height: 1.2;
}

/* line 15, ../scss/_typography.scss */
.font-size-1, p, input[type='email'] {
  font-size: 1.5rem;
}
@media screen and (min-width: 480px) {
  /* line 15, ../scss/_typography.scss */
  .font-size-1, p, input[type='email'] {
    font-size: 1.125rem;
  }
}
@media screen and (min-width: 992px) {
  /* line 15, ../scss/_typography.scss */
  .font-size-1, p, input[type='email'] {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1600px) {
  /* line 15, ../scss/_typography.scss */
  .font-size-1, p, input[type='email'] {
    font-size: 1.5rem;
  }
}

/* line 27, ../scss/_typography.scss */
.font-size-2 {
  font-size: 1.5rem;
}

/* line 30, ../scss/_typography.scss */
.font-size-3 {
  font-size: 1.875rem;
}

/* line 33, ../scss/_typography.scss */
.font-size-4 {
  font-size: 2.0625rem;
}
@media screen and (min-width: 1200px) {
  /* line 33, ../scss/_typography.scss */
  .font-size-4 {
    font-size: 2.625rem;
  }
}
@media screen and (min-width: 1600px) {
  /* line 33, ../scss/_typography.scss */
  .font-size-4 {
    font-size: 3rem;
  }
}

/* line 42, ../scss/_typography.scss */
.font-size-5 {
  font-size: 6.25rem;
}

/* line 45, ../scss/_typography.scss */
.font-size-6 {
  font-size: 15.25rem;
}
@media screen and (min-width: 1200px) {
  /* line 45, ../scss/_typography.scss */
  .font-size-6 {
    font-size: 20.5rem;
  }
}

/* line 56, ../scss/_typography.scss */
.font-bold {
  font-weight: 700;
}

/* line 59, ../scss/_typography.scss */
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  overflow: hidden;
  display: block;
}

/* line 69, ../scss/_typography.scss */
.text-center {
  text-align: center;
}

/* line 73, ../scss/_typography.scss */
.text-uppercase {
  text-transform: uppercase;
}

/* line 1, ../scss/_animations.scss */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  /* Chrome, Safari, Opera */
  animation-fill-mode: forwards;
  animation-direction: normal;
  -webkit-animation-direction: normal;
}

/* line 10, ../scss/_animations.scss */
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* line 15, ../scss/_animations.scss */
.animable-hide {
  opacity: 0;
}

@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
/* line 87, ../scss/_animations.scss */
.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.45, 0.45, 0.45);
    transform: scale3d(0.45, 0.45, 0.45);
  }
  20% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  80% {
    -webkit-transform: scale3d(0.99, 0.99, 0.99);
    transform: scale3d(0.99, 0.99, 0.99);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
/* line 172, ../scss/_animations.scss */
.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 1;
  }
}
/* line 204, ../scss/_animations.scss */
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
}

@-webkit-keyframes zoomOutEntrance {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
  }
  100% {
    opacity: 1;
  }
}
@keyframes zoomOutEntrance {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
  }
  100% {
    opacity: 1;
  }
}
/* line 235, ../scss/_animations.scss */
.zoomOutEntrance {
  -webkit-animation-name: zoomOutEntrance;
  animation-name: zoomOutEntrance;
}

@-webkit-keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* line 308, ../scss/_animations.scss */
.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

@-webkit-keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
/* line 381, ../scss/_animations.scss */
.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

@-webkit-keyframes bounceInRight {
  0%, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes bounceInRight {
  0%, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
/* line 454, ../scss/_animations.scss */
.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
/* line 533, ../scss/_animations.scss */
.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
/* line 592, ../scss/_animations.scss */
.swing {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
}

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
/* line 653, ../scss/_animations.scss */
.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
}

@-webkit-keyframes jello {
  0%, 11.1%, 100% {
    -webkit-transform: none;
    transform: none;
  }
  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }
  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }
  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }
  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }
  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }
  77.7% {
    -webkit-transform: skewX(0.39063deg) skewY(0.39063deg);
    transform: skewX(0.39063deg) skewY(0.39063deg);
  }
  88.8% {
    -webkit-transform: skewX(-0.19531deg) skewY(-0.19531deg);
    transform: skewX(-0.19531deg) skewY(-0.19531deg);
  }
}
@keyframes jello {
  0%, 11.1%, 100% {
    -webkit-transform: none;
    transform: none;
  }
  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }
  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }
  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }
  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }
  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }
  77.7% {
    -webkit-transform: skewX(0.39063deg) skewY(0.39063deg);
    transform: skewX(0.39063deg) skewY(0.39063deg);
  }
  88.8% {
    -webkit-transform: skewX(-0.19531deg) skewY(-0.19531deg);
    transform: skewX(-0.19531deg) skewY(-0.19531deg);
  }
}
/* line 742, ../scss/_animations.scss */
.jello {
  -webkit-animation-name: jello;
  animation-name: jello;
  -webkit-transform-origin: center;
  transform-origin: center;
}

@-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}
@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}
/* line 805, ../scss/_animations.scss */
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
/* line 832, ../scss/_animations.scss */
.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
/* line 873, ../scss/_animations.scss */
.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
@keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
/* line 912, ../scss/_animations.scss */
.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}

@-webkit-keyframes headShake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  6.5% {
    -webkit-transform: translateX(-6px) rotateY(-9deg);
    transform: translateX(-6px) rotateY(-9deg);
  }
  18.5% {
    -webkit-transform: translateX(5px) rotateY(7deg);
    transform: translateX(5px) rotateY(7deg);
  }
  31.5% {
    -webkit-transform: translateX(-3px) rotateY(-5deg);
    transform: translateX(-3px) rotateY(-5deg);
  }
  43.5% {
    -webkit-transform: translateX(2px) rotateY(3deg);
    transform: translateX(2px) rotateY(3deg);
  }
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes headShake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  6.5% {
    -webkit-transform: translateX(-6px) rotateY(-9deg);
    transform: translateX(-6px) rotateY(-9deg);
  }
  18.5% {
    -webkit-transform: translateX(5px) rotateY(7deg);
    transform: translateX(5px) rotateY(7deg);
  }
  31.5% {
    -webkit-transform: translateX(-3px) rotateY(-5deg);
    transform: translateX(-3px) rotateY(-5deg);
  }
  43.5% {
    -webkit-transform: translateX(2px) rotateY(3deg);
    transform: translateX(2px) rotateY(3deg);
  }
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
/* line 990, ../scss/_animations.scss */
.headShake {
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: headShake;
  animation-name: headShake;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 1017, ../scss/_animations.scss */
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* line 1042, ../scss/_animations.scss */
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* line 1075, ../scss/_animations.scss */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* line 1108, ../scss/_animations.scss */
.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* line 1141, ../scss/_animations.scss */
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* line 1174, ../scss/_animations.scss */
.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* line 1207, ../scss/_animations.scss */
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* line 1240, ../scss/_animations.scss */
.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* line 1273, ../scss/_animations.scss */
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* line 1306, ../scss/_animations.scss */
.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
}

@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
/* line 1377, ../scss/_animations.scss */
.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}

@-webkit-keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }
  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
@keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }
  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
/* line 1450, ../scss/_animations.scss */
.flipInY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
}

@-webkit-keyframes lightSpeedIn {
  0% {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
@keyframes lightSpeedIn {
  0% {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
/* line 1509, ../scss/_animations.scss */
.lightSpeedIn {
  -webkit-animation-name: lightSpeedIn;
  animation-name: lightSpeedIn;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

@-webkit-keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}
@keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}
/* line 1540, ../scss/_animations.scss */
.lightSpeedOut {
  -webkit-animation-name: lightSpeedOut;
  animation-name: lightSpeedOut;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* line 1573, ../scss/_animations.scss */
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* line 1604, ../scss/_animations.scss */
.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* line 1635, ../scss/_animations.scss */
.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* line 1666, ../scss/_animations.scss */
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
@keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
/* line 1707, ../scss/_animations.scss */
.rotateIn {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
}

@-webkit-keyframes rotateInDownLeft {
  0% {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
@keyframes rotateInDownLeft {
  0% {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
/* line 1748, ../scss/_animations.scss */
.rotateInDownLeft {
  -webkit-animation-name: rotateInDownLeft;
  animation-name: rotateInDownLeft;
}

@-webkit-keyframes rotateInDownRight {
  0% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
@keyframes rotateInDownRight {
  0% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
/* line 1789, ../scss/_animations.scss */
.rotateInDownRight {
  -webkit-animation-name: rotateInDownRight;
  animation-name: rotateInDownRight;
}

/* line 1794, ../scss/_animations.scss */
.transformScaleIn {
  -webkit-animation-name: transformScaleIn;
  animation-name: transformScaleIn;
  /*-webkit-animation-fill-mode: both;
  animation-fill-mode: both;*/
}

@-webkit-keyframes transformScaleIn {
  0% {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes transformScaleIn {
  0% {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
/* line 1821, ../scss/_animations.scss */
.transformScaleOut {
  -webkit-animation-name: transformScaleOut;
  animation-name: transformScaleOut;
  /*-webkit-animation-fill-mode: both;
  animation-fill-mode: both;*/
}

@-webkit-keyframes transformScaleOut {
  0% {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes transformScaleOut {
  0% {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes castor {
  0% {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes castor {
  0% {
    -ms-transform: translate(-100%, 20%);
    -webkit-transform: translate(-100%, 20%);
    transform: translate(-100%, 20%);
  }
  100% {
    -ms-transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
}
@-webkit-keyframes castor2 {
  0%, 20%, 40%, 60%, 80% {
    margin-top: -5px;
  }
  10%, 30%, 50%, 70%, 90%, 100% {
    margin-top: 5px;
  }
}
@keyframes castor2 {
  0%, 20%, 40%, 60%, 80% {
    margin-top: -5px;
  }
  10%, 30%, 50%, 70%, 90%, 100% {
    margin-top: 5px;
  }
}
@-webkit-keyframes castor3 {
  0%, 2%, 4%, 100% {
    margin: -5px 0 0 -2px;
  }
  1%, 3% {
    margin: 5px 0 0 0;
  }
}
@keyframes castor3 {
  0%, 2%, 4%, 100% {
    margin: -5px 0 0 -2px;
  }
  1%, 3% {
    margin: 5px 0 0 0;
  }
}
/* line 1908, ../scss/_animations.scss */
.castor.animated {
  opacity: 1;
  -webkit-animation-duration: 1s, .5s, 5s;
  animation-duration: 1s, .5s, 5s;
  -webkit-animation-name: castor, castor2, castor3;
  animation-name: castor, castor2, castor3;
  -webkit-animation-iteration-count: 1, 2, infinite;
  animation-iteration-count: 1, 2, infinite;
  -webkit-animation-timing-function: linear, ease-in-out, ease-in-out;
  animation-timing-function: linear, ease-in-out, ease-in-out;
  animation-delay: 0s, 0s, 5s;
}

@-webkit-keyframes canadian {
  0% {
    -ms-transform: translate(0%, 100%);
    -webkit-transform: translate(0%, 100%);
    transform: translate(0%, 100%);
  }
  100% {
    -ms-transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
}
@keyframes canadian {
  0% {
    -ms-transform: translate(80%, 100%);
    -webkit-transform: translate(80%, 100%);
    transform: translate(80%, 100%);
  }
  100% {
    -ms-transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
}
/* line 1941, ../scss/_animations.scss */
.canadian.animated {
  opacity: 1;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: canadian;
  animation-name: canadian;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes flyingGirl {
  0% {
    -ms-transform: translate(0%, -20%) rotate(3deg);
    -webkit-transform: translate(0%, -20%) rotate(3deg);
    transform: translate(0%, -20%) rotate(3deg);
  }
  50% {
    -ms-transform: translate(0%, 20%) rotate(-2deg);
    -webkit-transform: translate(0%, 20%) rotate(-2deg);
    transform: translate(0%, 20%) rotate(-2deg);
  }
  100% {
    -ms-transform: translate(0%, -20%) rotate(3deg);
    -webkit-transform: translate(0%, -20%) rotate(3deg);
    transform: translate(0%, -20%) rotate(3deg);
  }
}
@keyframes flyingGirl {
  0% {
    -ms-transform: translate(0%, -20%) rotate(3deg);
    -webkit-transform: translate(0%, -20%) rotate(3deg);
    transform: translate(0%, -20%) rotate(3deg);
  }
  50% {
    -ms-transform: translate(0%, 20%) rotate(-2deg);
    -webkit-transform: translate(0%, 20%) rotate(-2deg);
    transform: translate(0%, 20%) rotate(-2deg);
  }
  100% {
    -ms-transform: translate(0%, -20%) rotate(3deg);
    -webkit-transform: translate(0%, -20%) rotate(3deg);
    transform: translate(0%, -20%) rotate(3deg);
  }
}
/* line 1979, ../scss/_animations.scss */
#flyingGirl img {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: flyingGirl;
  animation-name: flyingGirl;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes smoke {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }
}
@keyframes smoke {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
/* line 2071, ../scss/_animations.scss */
.smoke {
  -webkit-animation-name: smoke;
  animation-name: smoke;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

@-webkit-keyframes hinge {
  0% {
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  20%, 60% {
    -webkit-transform: rotate3d(0, 0, 1, 20deg);
    transform: rotate3d(0, 0, 1, 20deg);
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  40%, 80% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
  to {
    -webkit-transform: translate3d(0, 700px, 0);
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}
@keyframes hinge {
  0% {
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  20%, 60% {
    -webkit-transform: rotate3d(0, 0, 1, 20deg);
    transform: rotate3d(0, 0, 1, 20deg);
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  40%, 80% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
  to {
    -webkit-transform: translate3d(0, 700px, 0);
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}
/* line 2149, ../scss/_animations.scss */
.hinge {
  -webkit-animation-name: hinge;
  animation-name: hinge;
}

/* line 1, ../scss/_common.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../scss/_common.scss */
a {
  text-decoration: none;
  color: inherit;
}
/* line 10, ../scss/_common.scss */
a:focus {
  outline: none;
}

/* line 15, ../scss/_common.scss */
p {
  margin: 15px auto;
}

/* line 19, ../scss/_common.scss */
.no-margin {
  margin: 0 auto;
}

/* line 22, ../scss/_common.scss */
.margin {
  margin: 15px auto;
}

/* line 25, ../scss/_common.scss */
.margin-top {
  margin-top: 15px;
  margin-bottom: 0;
}

/* line 29, ../scss/_common.scss */
.margin-bottom {
  margin-top: 0;
  margin-bottom: 15px;
}

/* line 33, ../scss/_common.scss */
.margin-double {
  margin: 30px auto;
}

/* line 36, ../scss/_common.scss */
.margin-double-top {
  margin-top: 30px;
  margin-bottom: 0;
}

/* line 40, ../scss/_common.scss */
.margin-double-bottom {
  margin-top: 0;
  margin-bottom: 30px;
}

/* line 45, ../scss/_common.scss */
img,
svg {
  max-width: 100%;
}

/* line 51, ../scss/_common.scss */
.island {
  margin: 3.75rem 0;
}

/* line 2, ../scss/_elements.scss */
input[type='email'] {
  font-family: 'Montserrat', sans-serif;
  display: block;
  width: 100%;
  padding: 8px 15px;
  border: 0 none;
}

/* line 13, ../scss/_elements.scss */
.btn {
  background-color: #335f65;
  font-size: 2.0625rem;
  position: relative;
  padding: 13px 30px 10px;
  border-radius: 10px;
  color: #FFF;
  text-decoration: none;
  border-bottom: 5px solid #253a3d;
  text-shadow: 0px -2px #253a3d;
  /* Animation */
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  display: inline-block;
  margin: 7.5px;
}
@media screen and (min-width: 480px) {
  /* line 13, ../scss/_elements.scss */
  .btn {
    margin: 15px;
  }
}
@media screen and (min-width: 768px) {
  /* line 13, ../scss/_elements.scss */
  .btn {
    min-width: 250px;
  }
}
/* line 36, ../scss/_elements.scss */
.btn:hover, .btn:focus {
  text-decoration: none;
  color: #fff;
}
/* line 41, ../scss/_elements.scss */
.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  border-bottom: 1px solid #253a3d;
  margin-bottom: 4px;
}

/* line 48, ../scss/_elements.scss */
.share-btns,
.rrss-btns {
  text-align: center;
  position: relative;
}
/* line 52, ../scss/_elements.scss */
.share-btns li,
.rrss-btns li {
  display: inline-block;
  margin: 0 15px;
}

/* line 57, ../scss/_elements.scss */
.share-btn,
.rrss-btn {
  display: block;
  width: 52px;
  height: 52px;
  background-size: contain;
}
@media screen and (min-width: 480px) {
  /* line 57, ../scss/_elements.scss */
  .share-btn,
  .rrss-btn {
    width: 58px;
    height: 58px;
  }
}
/* line 67, ../scss/_elements.scss */
.share-btn.fb,
.rrss-btn.fb {
  background-image: url(../images/fb.png);
}
/* line 70, ../scss/_elements.scss */
.share-btn.tw,
.rrss-btn.tw {
  background-image: url(../images/tw.png);
}

/* line 75, ../scss/_elements.scss */
.rrss-btns li {
  margin: 0 7.5px;
}

/* line 79, ../scss/_elements.scss */
.rrss-btn {
  width: 30px;
  height: 30px;
}

/* line 84, ../scss/_elements.scss */
.number {
  position: relative;
  display: inline-block;
  line-height: 1;
}
/* line 88, ../scss/_elements.scss */
.number .percent-symbol {
  position: absolute;
  top: 24px;
  right: -70px;
}
/* line 93, ../scss/_elements.scss */
.number .ornaments {
  position: absolute;
}
/* line 95, ../scss/_elements.scss */
.number .ornaments .ornament_r {
  position: static;
}
/* line 98, ../scss/_elements.scss */
.number .ornaments .ornament_a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 112, ../scss/_elements.scss */
#number1 .ornaments {
  bottom: -22.5px;
  margin-left: -125.25px;
  width: 251.25px;
  left: 50%;
}
@media screen and (min-width: 480px) {
  /* line 112, ../scss/_elements.scss */
  #number1 .ornaments {
    bottom: -30px;
    margin-left: -167px;
    width: 335px;
  }
}

/* line 125, ../scss/_elements.scss */
#number2 .ornaments {
  width: 227.25px;
  height: 140.25px;
  bottom: -15.75px;
  left: -72.75px;
}
@media screen and (min-width: 480px) {
  /* line 125, ../scss/_elements.scss */
  #number2 .ornaments {
    width: 303px;
    height: 187px;
    bottom: -21px;
    left: -97px;
  }
}

/* line 140, ../scss/_elements.scss */
#number3 .ornaments {
  width: 162px;
  height: 146.25px;
  bottom: -67.5px;
  left: -55.5px;
}
@media screen and (min-width: 480px) {
  /* line 140, ../scss/_elements.scss */
  #number3 .ornaments {
    width: 216px;
    height: 195px;
    bottom: -70px;
    left: -54px;
  }
}

/* line 157, ../scss/_elements.scss */
.triangle-top svg,
.triangle-down svg {
  display: block;
  max-height: 80px;
}
@media screen and (min-width: 992px) {
  /* line 157, ../scss/_elements.scss */
  .triangle-top svg,
  .triangle-down svg {
    max-height: 120px;
  }
}

/* line 166, ../scss/_elements.scss */
.boat {
  background-image: url(../images/boat.png);
  position: absolute;
  top: 0px;
  right: 0%;
  background-size: contain;
  width: 98px;
  height: 35px;
}
@media screen and (min-width: 768px) {
  /* line 166, ../scss/_elements.scss */
  .boat {
    width: 196px;
    height: 70px;
  }
}

/* line 180, ../scss/_elements.scss */
#city {
  background-image: url(../images/city-xs.png);
  background-size: 150vw auto;
  min-height: 92vw;
  background-position: center bottom;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
@media screen and (min-width: 768px) {
  /* line 180, ../scss/_elements.scss */
  #city {
    background-image: url(../images/city.png);
  }
}
@media screen and (min-width: 992px) {
  /* line 180, ../scss/_elements.scss */
  #city {
    background-size: cover;
    min-height: 62vw;
  }
}
@media screen and (min-width: 1200px) {
  /* line 180, ../scss/_elements.scss */
  #city {
    min-height: 50vw;
    background-position: center top;
  }
}
/* line 201, ../scss/_elements.scss */
#city .container {
  width: 100%;
  align-self: flex-end;
}
/* line 205, ../scss/_elements.scss */
#city p {
  text-shadow: 0px 1px 4px black;
}
/* line 207, ../scss/_elements.scss */
#city p:not(:nth-child(2)) {
  font-size: 13px;
}

/* line 214, ../scss/_elements.scss */
.plane {
  background-image: url(../images/plane.png);
  width: 106px;
  height: 61px;
  position: absolute;
  top: 30px;
  left: 0;
}
@media screen and (min-width: 768px) {
  /* line 214, ../scss/_elements.scss */
  .plane {
    z-index: -1;
  }
}

/* line 18, ../scss/styles.scss */
body {
  background-color: #6ea7af;
}

/* line 22, ../scss/styles.scss */
#header {
  overflow: hidden;
  position: relative;
}
/* line 25, ../scss/styles.scss */
#header .logo-content {
  padding: 18vw 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
@media screen and (min-width: 1200px) {
  /* line 25, ../scss/styles.scss */
  #header .logo-content {
    padding: 11vw 0;
  }
}
/* line 39, ../scss/styles.scss */
#header .logo {
  max-width: 64vw;
  margin: 0 auto;
  display: block;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
@media screen and (min-width: 1200px) {
  /* line 39, ../scss/styles.scss */
  #header .logo {
    max-width: 34vw;
  }
}
/* line 49, ../scss/styles.scss */
#header .mountains {
  display: block;
  position: relative;
  height: 103vw;
  background-size: 100% auto;
  background-position: center 29.9vw;
  background-repeat: no-repeat;
  background-image: url(../images/mountains-xs.png);
}
@media screen and (min-width: 768px) {
  /* line 49, ../scss/styles.scss */
  #header .mountains {
    background-image: url(../images/mountains.png);
  }
}
@media screen and (min-width: 1200px) {
  /* line 49, ../scss/styles.scss */
  #header .mountains {
    height: 75vw;
    background-position: center 10vw;
  }
}
/* line 65, ../scss/styles.scss */
#header .castor {
  position: absolute;
  top: 7vw;
  left: 0;
  width: 29.5vw;
  height: 38.5vw;
  background-image: url(../images/castor.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
}
@media screen and (min-width: 1200px) {
  /* line 65, ../scss/styles.scss */
  #header .castor {
    top: 0vw;
    width: 19.5vw;
    height: 28.5vw;
  }
}
/* line 81, ../scss/styles.scss */
#header .canadian {
  position: absolute;
  top: 10px;
  right: 0;
  width: 28.5vw;
  height: 55vw;
  background-image: url(../images/canadian.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right top;
}
@media screen and (min-width: 1200px) {
  /* line 81, ../scss/styles.scss */
  #header .canadian {
    width: 16.5vw;
    height: 45vw;
  }
}

/* line 98, ../scss/styles.scss */
#content {
  position: relative;
  background-color: transparent;
}
/* line 101, ../scss/styles.scss */
#content .logo-mini {
  display: block;
  margin: 0 auto;
  max-width: 24vw;
  position: relative;
}
@media screen and (min-width: 992px) {
  /* line 101, ../scss/styles.scss */
  #content .logo-mini {
    max-width: 160px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 101, ../scss/styles.scss */
  #content .logo-mini {
    max-width: 180px;
  }
}
/* line 113, ../scss/styles.scss */
#content #tampon {
  height: 554px;
  width: 77px;
  position: fixed;
  top: -22vh;
  left: 50%;
  background-image: url(../images/tampon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  z-index: 0;
  opacity: 0;
  margin: 0px 0 0 -39px;
}
@media (min-height: 568px) {
  /* line 113, ../scss/styles.scss */
  #content #tampon {
    top: -15vh;
  }
}
@media (min-height: 720px) {
  /* line 113, ../scss/styles.scss */
  #content #tampon {
    top: -6vh;
  }
}
@media (min-height: 900px) {
  /* line 113, ../scss/styles.scss */
  #content #tampon {
    top: 0px;
  }
}

/* line 138, ../scss/styles.scss */
#first {
  min-height: 42vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 992px) {
  /* line 138, ../scss/styles.scss */
  #first {
    min-height: 10vw;
  }
}
/* line 148, ../scss/styles.scss */
#first .first-content {
  margin-top: -18vw;
}
@media screen and (min-width: 480px) {
  /* line 148, ../scss/styles.scss */
  #first .first-content {
    margin-top: -29vw;
  }
}
@media screen and (min-width: 992px) {
  /* line 148, ../scss/styles.scss */
  #first .first-content {
    margin-top: -34vw;
  }
  /* line 155, ../scss/styles.scss */
  #first .first-content .container-txt {
    max-width: 920px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 992px) and (min-width: 1200px) {
  /* line 155, ../scss/styles.scss */
  #first .first-content .container-txt {
    max-width: 1120px;
  }
}
@media screen and (min-width: 992px) {
  /* line 163, ../scss/styles.scss */
  #first .first-content .container-txt p {
    width: 50%;
    padding: 0 15px;
  }
  /* line 166, ../scss/styles.scss */
  #first .first-content .container-txt p:first-child {
    text-align: right;
    padding-right: 55px;
  }
  /* line 170, ../scss/styles.scss */
  #first .first-content .container-txt p:last-child {
    text-align: left;
    padding-left: 55px;
  }
}

/* line 180, ../scss/styles.scss */
#girl-txt {
  position: relative;
  padding: 22vw 0 0 30vw;
  min-height: 93vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* line 188, ../scss/styles.scss */
#girl-txt .girl {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 61vw;
  background-image: url(../images/tampon-girl.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}
@media screen and (min-width: 768px) {
  /* line 188, ../scss/styles.scss */
  #girl-txt .girl {
    background-image: url(../images/tampon-girl2.png);
    background-position: center;
    width: 100%;
    height: 460px;
    top: -132px;
  }
}
@media screen and (min-width: 992px) {
  /* line 188, ../scss/styles.scss */
  #girl-txt .girl {
    height: 610px;
    top: -215px;
  }
}
/* line 210, ../scss/styles.scss */
#girl-txt .txt {
  position: relative;
  z-index: 1;
}
/* line 214, ../scss/styles.scss */
#girl-txt .subscribe {
  margin-bottom: 10vw;
  padding-bottom: 9vw;
  position: relative;
}
@media screen and (min-width: 768px) {
  /* line 180, ../scss/styles.scss */
  #girl-txt {
    padding: 0 15px;
    min-height: 0;
    flex-direction: row;
    align-items: baseline;
  }
  /* line 224, ../scss/styles.scss */
  #girl-txt .txt,
  #girl-txt .subscribe {
    width: 50%;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  /* line 230, ../scss/styles.scss */
  #girl-txt .txt {
    padding-right: 80px;
  }
  /* line 233, ../scss/styles.scss */
  #girl-txt .subscribe {
    padding-left: 80px;
  }
}
@media screen and (min-width: 992px) {
  /* line 241, ../scss/styles.scss */
  #girl-txt .txt {
    padding-right: 100px;
  }
  /* line 244, ../scss/styles.scss */
  #girl-txt .subscribe {
    padding-left: 100px;
  }
}

/* line 250, ../scss/styles.scss */
.input_and_button {
  text-align: center;
}
@media screen and (min-width: 480px) {
  /* line 250, ../scss/styles.scss */
  .input_and_button {
    display: flex;
  }
  /* line 254, ../scss/styles.scss */
  .input_and_button input {
    border-bottom: 5px solid #253a3d;
    outline: 0;
  }
  /* line 258, ../scss/styles.scss */
  .input_and_button .btn {
    min-width: 95px;
    margin: 0;
    font-size: 16px;
    padding: 13px 15px 10px;
    border-radius: 0 10px 10px 0;
  }
}

/* line 268, ../scss/styles.scss */
.fix-hole {
  position: relative;
}

/* line 272, ../scss/styles.scss */
.hole {
  position: relative;
  z-index: -1;
  height: 98px;
}
/* line 276, ../scss/styles.scss */
.hole .hole-fix {
  display: inline-block;
  position: relative;
  margin-top: 80px;
}
/* line 281, ../scss/styles.scss */
.hole img {
  display: block;
  margin: 0 auto;
  width: 76px;
}
/* line 286, ../scss/styles.scss */
.hole .hole-back {
  position: relative;
  z-index: -2;
}
/* line 291, ../scss/styles.scss */
.hole.hole-exit .hole-fix {
  margin-top: 0px;
  margin-bottom: 80px;
}

/* line 297, ../scss/styles.scss */
.hole-exit-fix {
  position: relative;
}
/* line 299, ../scss/styles.scss */
.hole-exit-fix .hole-front {
  transform: translate(-50%, 0%);
  width: 76px;
  height: 18px;
}

/* line 305, ../scss/styles.scss */
.hole-front {
  position: absolute;
  top: 0;
  z-index: 36;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 76px;
}

/* line 313, ../scss/styles.scss */
#second {
  position: relative;
}
@media screen and (min-width: 1200px) {
  /* line 316, ../scss/styles.scss */
  #second .container-small {
    max-width: 920px;
  }
  /* line 319, ../scss/styles.scss */
  #second .data-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: right;
  }
  /* line 324, ../scss/styles.scss */
  #second .data-content p {
    margin: 0;
  }
  /* line 327, ../scss/styles.scss */
  #second .data-content .number-content {
    padding-left: 80px;
    min-width: 470px;
    text-align: center;
  }
}

/* line 337, ../scss/styles.scss */
#third .btn {
  font-size: 2.0625rem;
}
/* line 340, ../scss/styles.scss */
#third .btn-firma {
  background-color: #A82E3A;
  border-bottom: 5px solid #55181e;
  text-shadow: 0px -2px #55181e;
}

/* line 346, ../scss/styles.scss */
#four {
  position: relative;
  background-image: url(../images/compresas.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 75% auto;
  padding-top: 30px;
}
@media screen and (min-width: 768px) {
  /* line 346, ../scss/styles.scss */
  #four {
    background-size: auto;
  }
}
@media screen and (min-width: 992px) {
  /* line 346, ../scss/styles.scss */
  #four {
    margin-bottom: 80px;
    padding-top: 60px;
  }
}
/* line 361, ../scss/styles.scss */
#four #dv-ch-privacidad a {
  text-decoration: underline;
}
/* line 365, ../scss/styles.scss */
#four .errors {
  font-size: 1rem;
}

/* line 371, ../scss/styles.scss */
html #loading {
  display: none;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -ms-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
}
/* line 375, ../scss/styles.scss */
html.loading {
  overflow: hidden;
  height: 100%;
}
/* line 378, ../scss/styles.scss */
html.loading body {
  overflow: hidden;
  height: 100%;
}
/* line 382, ../scss/styles.scss */
html.loading #loading {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: -moz-radial-gradient(center, ellipse cover, rgba(215, 245, 232, 0.52) 0%, rgba(215, 245, 232, 0) 100%), #6ea7af;
  background: -webkit-radial-gradient(center, ellipse cover, rgba(215, 245, 232, 0.52) 0%, rgba(215, 245, 232, 0) 100%), #6ea7af;
  background: radial-gradient(ellipse at center, rgba(215, 245, 232, 0.52) 0%, rgba(215, 245, 232, 0) 100%), #6ea7af;
}
/* line 395, ../scss/styles.scss */
html #flyingGirl {
  width: 100%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 280px;
}
@media screen and (min-width: 480px) {
  /* line 395, ../scss/styles.scss */
  html #flyingGirl {
    max-width: 440px;
  }
}
@media screen and (min-width: 768px) {
  /* line 395, ../scss/styles.scss */
  html #flyingGirl {
    max-width: 640px;
  }
}
/* line 412, ../scss/styles.scss */
html #flyingGirl p {
  color: white;
}

/* line 418, ../scss/styles.scss */
.logo-despensa {
  max-width: 200px;
  vertical-align: middle;
}
@media screen and (min-width: 1200px) {
  /* line 418, ../scss/styles.scss */
  .logo-despensa {
    max-width: 240px;
  }
}

/* line 426, ../scss/styles.scss */
.checkbox-container {
  position: relative;
}

/* line 430, ../scss/styles.scss */
input[type="checkbox"] {
  top: 0;
  left: 0;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  display: inline-block;
  vertical-align: middle;
  z-index: 100;
  width: 1rem;
  height: 1rem;
}
/* line 443, ../scss/styles.scss */
input[type="checkbox"]:focus + label:before {
  border-color: #335f65;
}
/* line 450, ../scss/styles.scss */
input[type="checkbox"]:checked + label:after {
  opacity: 1;
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* line 454, ../scss/styles.scss */
input[type="checkbox"]:checked + label:before {
  border-color: #fff;
}
/* line 459, ../scss/styles.scss */
input[type="checkbox"] + label {
  padding-left: 2rem;
  font-weight: 400;
  font-size: 13px;
  padding-top: 8px;
  cursor: pointer;
  min-height: 1rem;
}
/* line 466, ../scss/styles.scss */
input[type="checkbox"] + label:after, input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 476, ../scss/styles.scss */
input[type="checkbox"] + label:after {
  content: "×";
  opacity: 0;
  top: 2px;
  left: 2px;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.25rem;
  -ms-transform: scale(0.2);
  -webkit-transform: scale(0.2);
  transform: scale(0.2);
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
/* line 487, ../scss/styles.scss */
input[type="checkbox"] + label:before {
  border: 2px solid #fff;
}
