$color-blue:#6ea7af;
$color-blue-dark:#335f65;
$color-blue-dark-shadow:#253a3d;
$color-red:#a82e3a;
$color-text-highlight: #fff4bf;

%scheme-blue{
  background-color: $color-blue;
  color: white;
  .radial-gradient{
    background: -moz-radial-gradient(center, ellipse cover, rgba(215,245,232,0.52) 0%, rgba(215,245,232,0) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(215,245,232,0.52) 0%,rgba(215,245,232,0) 100%);
    background: radial-gradient(ellipse at center, rgba(215,245,232,0.52) 0%,rgba(215,245,232,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85d7f5e8', endColorstr='#00d7f5e8',GradientType=1 );
  }
}
.scheme-blue{
  @extend %scheme-blue;
}

%scheme-red{
  background-color: $color-red;
  color: white;
  .highlight{
    color:$color-text-highlight;
  }
  .radial-gradient{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d6a7a5+0,d6a7a5+100&0.64+0,0+100 */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(214,167,165,0.4) 0%, rgba(214,167,165,0) 70%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(214,167,165,0.4) 0%,rgba(214,167,165,0) 70%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  rgba(214,167,165,0.4) 0%,rgba(214,167,165,0) 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3d6a7a5', endColorstr='#00d6a7a5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
}
.scheme-red{
  @extend %scheme-red;
}

