* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a{
  text-decoration:none;
  color:inherit;
  &:focus{
    outline: none;
  }
}

p{
  margin:$gutter auto;
}

.no-margin{
  margin: 0 auto;
}
.margin{
  margin: $gutter auto;
}
.margin-top{
  margin-top:$gutter;
  margin-bottom:0;
}
.margin-bottom{
  margin-top:0;
  margin-bottom:$gutter;
}
.margin-double{
  margin: $gutter*2 auto;
}
.margin-double-top{
  margin-top:$gutter*2;
  margin-bottom:0;
}
.margin-double-bottom{
  margin-top:0;
  margin-bottom:$gutter*2;
}

img,
svg{
  max-width:100%;
}


.island{
  margin:3.75rem 0;
}