input{
  &[type='email']{
    font-family: 'Montserrat', sans-serif;
    @extend .font-size-1;
    display: block;
    width: 100%;
    padding: 8px 15px;
    border: 0 none;
  }
}


.btn{
  background-color: $color-blue-dark;
  font-size:(33/16)+rem;

  position: relative;
  padding: 13px 30px 10px;
  border-radius: 10px;
  color: #FFF;
  text-decoration: none;
  border-bottom: 5px solid $color-blue-dark-shadow;
  text-shadow: 0px -2px $color-blue-dark-shadow;
  /* Animation */
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  display: inline-block;

  margin: 7.5px;
  @include bp($xs){
    margin: 15px;
  }
  @include bp($sm){
    min-width: 250px;
  }
  &:hover,
  &:focus{
    text-decoration: none;
    color: #fff;
  }
  &:active {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid $color-blue-dark-shadow;
    margin-bottom: 4px;
  }
}
.share-btns,
.rrss-btns{
  text-align: center;
  position: relative;
  li{
    display: inline-block;
    margin: 0 15px;
  }
}
.share-btn,
.rrss-btn{
  display: block;
  width: 52px;
  height: 52px;
  @include bp($xs){
    width: 58px;
    height: 58px;
  }
  background-size: contain;
  &.fb{
    background-image: url(../images/fb.png);
  }
  &.tw{
    background-image: url(../images/tw.png);
  }
}
.rrss-btns{
  li{
    margin:0 7.5px;
  }
}
.rrss-btn{
  width: 30px;
  height: 30px;
}

.number{
  position: relative;
  display: inline-block;
  line-height: 1;
  .percent-symbol{
    position: absolute;
    top: 24px;
    right: -70px;
  }
  .ornaments{
    position: absolute;
    .ornament_r{
      position: static;
    }
    .ornament_a{
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .int{

  }
}

#number1{
  .ornaments{
    bottom: -(30*0.75)+px;
    margin-left: -(167*0.75)+px;
    width: (335*0.75)+px;
    left: 50%;
    @include bp($xs){
      bottom: -30px;
      margin-left: -167px;
      width: 335px;
    }
  }
}
#number2{
  .ornaments{
    width: (303*.75)+px;
    height: (187*.75)+px;
    bottom: -(21*.75)+px;
    left: -(97*.75)+px;
    @include bp($xs){
      width: 303px;
      height: 187px;
      bottom: -21px;
      left: -97px;
    }
  }
}

#number3{
  .ornaments{
    width: (216*.75)+px;
    height: (195*.75)+px;
    bottom: -(90*.75)+px;
    left: -(74*.75)+px;
    @include bp($xs){
      width: 216px;
      height: 195px;
      bottom: -70px;
      left: -54px;
    }
  }
}


.triangle-top,
.triangle-down{
  svg{
    display: block;
    max-height: 80px;
    @include bp($md){
      max-height: 120px;
    }
  }
}

.boat{
  background-image: url(../images/boat.png);
  position: absolute;
  top: 0px;
  right: 0%;
  background-size: contain;
  width: (196/2)+px;
  height: (70/2)+px;
  @include bp($sm){
    width: 196px;
    height: 70px;
  }
}

#city{
  background-image: url(../images/city-xs.png);
  background-size: 150vw auto;
  min-height: 92vw;
  background-position: center bottom;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  @include bp($sm){
    background-image: url(../images/city.png);
  }
  @include bp($md){
    background-size: cover;
    min-height: 62vw;
  }
  @include bp($lg){
    min-height: 50vw;
    background-position: center top;
  }
  .container{
    width: 100%;
    align-self: flex-end;
  }
  p{
    text-shadow: 0px 1px 4px rgba(0,0,0,1);
    &:not(:nth-child(2)){
      font-size: 13px;
    }

  }
}

.plane{
  background-image: url(../images/plane.png);
  width: 106px;
  height: 61px;
  position: absolute;
  top: 30px;
  left: 0;
  @include bp($sm){
    z-index: -1;
  }
}
