$gutter : 15px;

$xs:      480px;
$sm:      768px;
$md:      992px;
$lg:      1200px;
$xl:      1600px;

.container{
  margin:0 auto;
  max-width: $md;
  padding-left: $gutter;
  padding-right: $gutter;
  @include bp($lg){
    max-width: $lg;
  }
}

.container-medium{
  margin:0 auto;
  max-width: $sm;
  padding-left: $gutter;
  padding-right: $gutter;
  @include bp($md){
    max-width: $md;
  }
}

.container-small{
  margin:0 auto;
  padding-left: $gutter;
  padding-right: $gutter;
  max-width: 600px;
}

.container-fluid{
  margin:0 auto;
  padding-left: $gutter;
  padding-right: $gutter;
}

.container-txt{
  margin:0 auto;
  padding-left: $gutter;
  padding-right: $gutter;
  max-width: 430px;
}

.row{
  margin-left: -$gutter;
  margin-right: -$gutter;
}

%island-top{
  padding-top: $gutter*2;
  @include bp($sm){
    padding-top: $gutter*2.5;
  }
  @include bp($xl){
    padding-top: $gutter*3.5;
  }
}
%island-bottom{
  padding-bottom: $gutter*2;
  @include bp($sm){
    padding-bottom: $gutter*2.5;
  }
  @include bp($xl){
    padding-bottom: $gutter*3.5;
  }
}
.island-top{
  @extend %island-top;
}
.island-bottom{
  @extend %island-bottom;
}
.island{
  @extend %island-top;
  @extend %island-bottom;
}

%island-top-small{
  padding-top: $gutter*1;
  @include bp($sm){
    padding-top: $gutter*1.25;
  }
  @include bp($xl){
    padding-top: $gutter*1.75;
  }
}
%island-bottom-small{
  padding-bottom: $gutter*1;
  @include bp($sm){
    padding-bottom: $gutter*1.25;
  }
  @include bp($xl){
    padding-bottom: $gutter*1.75;
  }
}
.island-top-small{
  @extend %island-top-small;
}
.island-bottom-small{
  @extend %island-bottom-small;
}
.island-small{
  @extend %island-top-small;
  @extend %island-bottom-small;
}

%island-top-big{
  padding-top: $gutter*4;
  @include bp($sm){
    padding-top: $gutter*7;
  }
  @include bp($xl){
    padding-top: $gutter*8;
  }
}
%island-bottom-big{
  padding-bottom: $gutter*4;
  @include bp($sm){
    padding-bottom: $gutter*7;
  }
  @include bp($xl){
    padding-bottom: $gutter*8;
  }
}
.island-top-big{
  @extend %island-top-big;
}
.island-bottom-big{
  @extend %island-bottom-big;
}
.island-big{
  @extend %island-top-big;
  @extend %island-bottom-big;
}