//Crossbrowser fonts in rem

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}



/* Media queries */
@mixin bp($size){
  @media screen and (min-width: $size) {
    @content
  }
}

@mixin bp-width-height($width, $height){
  @media (min-width: $width) and (min-height: $height){
    @content;
  }
}

@mixin retina-display {
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 720px),
  only screen and (   min--moz-device-pixel-ratio: 2) and (max-width: 720px),
  only screen and (     -o-min-device-pixel-ratio: 2/1) and (max-width: 720px),
  only screen and (        min-device-pixel-ratio: 2) and (max-width: 720px),
  only screen and (                min-resolution: 192dpi) and (max-width: 720px),
  only screen and (                min-resolution: 2dppx) and (max-width: 720px) {
    @content;
  }
}



// Cross browser transition

@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}



// Cross browser opacity

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}


// Cross browser transforms

@mixin transform($args){
  -ms-transform: $args;
  -webkit-transform: $args;
  transform: $args;
}

@mixin transform_important($args){
  -ms-transform: $args !important;
  -webkit-transform: $args !important;
  transform: $args !important;
}

// Cross browser border-radius

@mixin border-radius($args){
  -webkit-border-radius: $args;
  -moz-border-radius: $args;
  border-radius: $args;
}

@mixin filter($args){
  -webkit-filter: $args;
  filter: $args;
}


//Hover también al posicionarse con el tabulador

@mixin hover{
  &:hover,
  &:focus,
  &:active{
    @content;
  }
}

