html{
  font-size: 10px;
  @include bp($xs){
    font-size: 16px;
  }

}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: inherit;
  line-height: 1.2;
}

.font-size-1{
  font-size:(24/16)+rem;
  @include bp($xs){
    font-size:(18/16)+rem;
  }
  @include bp($md){
    font-size:(20/16)+rem;
  }
  @include bp($xl){
    font-size:(24/16)+rem;
  }
}
.font-size-2{
  font-size:(24/16)+rem;
}
.font-size-3{
  font-size:(30/16)+rem;
}
.font-size-4{
  font-size:(33/16)+rem;
  @include bp($lg){
    font-size:(42/16)+rem;
  }
  @include bp($xl){
    font-size:(48/16)+rem;
  }
}
.font-size-5{
  font-size:(100/16)+rem;
}
.font-size-6{
  font-size:(244/16)+rem;
  @include bp($lg){
    font-size:(328/16)+rem;
  }
}

p{
  @extend .font-size-1;
}

.font-bold{
  font-weight: 700;
}
.text-hide{
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  overflow: hidden;
  display: block;
}

.text-center{
  text-align: center;
}

.text-uppercase{
  text-transform: uppercase;
}
