@import "reset";

@import "mixins";
@import "layout";

@import "colors";
@import "typography";

@import "animations";

@import "common";
@import "elements";


html{
}

body{
  background-color: $color-blue;
}

#header{
  overflow: hidden;
  position: relative;
  .logo-content{
    padding: 18vw 0;
    position: fixed;
    //position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    @include bp($lg){
      padding: 11vw 0;
    }
  }
  .logo{
    max-width: 64vw;
    margin: 0 auto;
    display: block;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    @include bp($lg){
      max-width: 34vw;
    }
  }
  .mountains{
    display: block;
    position: relative;
    height: 103vw;
    background-size: 100% auto;
    background-position: center 29.9vw;
    background-repeat: no-repeat;
    background-image: url(../images/mountains-xs.png);
    @include bp($sm){
      background-image: url(../images/mountains.png);
    }
    @include bp($lg){
      height: 75vw;
      background-position: center 10vw;
    }
  }
  .castor{
    position: absolute;
    top: 7vw;
    left: 0;
    width: 29.5vw;
    height: 38.5vw;
    background-image: url(../images/castor.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
    @include bp($lg){
      top: 0vw;
      width: 19.5vw;
      height: 28.5vw;
    }
  }
  .canadian{
    position: absolute;
    top: 10px;
    right: 0;
    width: 28.5vw;
    height: 55vw;
    background-image: url(../images/canadian.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
    @include bp($lg){
      width: 16.5vw;
      height: 45vw;
    }
  }
}

#content{
  position: relative;
  background-color: transparent;
  .logo-mini{
    display: block;
    margin: 0 auto;
    max-width: 24vw;
    position: relative;
    @include bp($md){
      max-width: 160px;
    }
    @include bp($lg){
      max-width: 180px;
    }
  }
  #tampon{
    height: 554px;
    width: 77px;
    position: fixed;
    top: -22vh;
    left: 50%;
    background-image: url(../images/tampon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    z-index: 0;
    opacity: 0;
    margin: 0px 0 0 -39px;
    @media (min-height: 568px) {
      top: -15vh;
    }
    @media (min-height: 720px) {
      top: -6vh;
    }
    @media (min-height: 900px) {
      top: 0px;
    }
  }
}

#first{
  min-height: 42vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
  @include bp($md){
    min-height: 10vw;
  }
  .first-content{
    margin-top: -18vw;
    @include bp($xs){
      margin-top: -29vw;
    }
    @include bp($md){
      margin-top: -34vw;
      .container-txt{
        max-width: 920px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        @include bp($lg){
          max-width: 1120px;
        }
        p{
          width:50%;
          padding: 0 $gutter;
          &:first-child{
            text-align: right;
            padding-right:55px;
          }
          &:last-child{
            text-align: left;
            padding-left: 55px;
          }
        }
      }
    }
  }
}

#girl-txt{
  position: relative;
  padding: 22vw 0 0 30vw;
  min-height: 93vw;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .girl{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:61vw;
    background-image: url(../images/tampon-girl.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    @include bp($sm){
      background-image: url(../images/tampon-girl2.png);
      background-position: center;
      width: 100%;
      height: 460px;
      top: -132px;
    }
    @include bp($md){
      height: 610px;
      top: -215px;
    }
  }
  .txt{
    position: relative;
    z-index: 1;
  }
  .subscribe{
    margin-bottom: 10vw;
    padding-bottom: 9vw;
    position: relative;
  }
  @include bp($sm){
    padding: 0 15px;
    min-height: 0;
    flex-direction: row;
    align-items: baseline;
    .txt,
    .subscribe{
      width: 50%;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    .txt{
      padding-right: 80px;
    }
    .subscribe{
      padding-left: 80px;
    }
    .girl{

    }
  }
  @include bp($md){
    .txt{
      padding-right: 100px;
    }
    .subscribe{
      padding-left: 100px;
    }
  }
}

.input_and_button{
  text-align: center;
  @include bp($xs){
    display: flex;
    input{
      border-bottom: 5px solid #253a3d;
      outline:0;
    }
    .btn{
      min-width: 95px;
      margin: 0;
      font-size: 16px;
      padding: 13px 15px 10px;
      border-radius: 0 10px 10px 0;
    }
  }
}

.fix-hole{
  position: relative;
}

.hole{
  position: relative;
  z-index: -1;
  height: 98px;
  .hole-fix{
    display: inline-block;
    position: relative;
    margin-top: 80px;
  }
  img{
    display: block;
    margin: 0 auto;
    width: 76px;
  }
  .hole-back{
    position: relative;
    z-index: -2;
  }
  &.hole-exit{
    .hole-fix{
      margin-top: 0px;
      margin-bottom: 80px;
    }
  }
}
.hole-exit-fix{
  position: relative;
  .hole-front{
    transform: translate(-50%, 00%);
    width: 76px;
    height: 18px;
  }
}
.hole-front{
  position: absolute;
  top: 0;
  z-index: 36;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 76px;
}
#second{
  position: relative;
  @include bp($lg){
    .container-small{
      max-width: 920px;
    }
    .data-content{
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: right;
      p{
        margin: 0;
      }
      .number-content{
        padding-left: 80px;
        min-width: 470px;
        text-align: center;
      }

    }
  }
}
#third{
  .btn{
    font-size: 2.0625rem;
  }
  .btn-firma{
    background-color: #A82E3A;
    border-bottom: 5px solid #55181e;
    text-shadow: 0px -2px #55181e;
  }
}
#four{
  position: relative;
  background-image: url(../images/compresas.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 75% auto;
  padding-top: 30px;
  @include bp($sm){
    background-size: auto;
  }
  @include bp($md){
    margin-bottom: 80px;
    padding-top: 60px;
  }
  #dv-ch-privacidad{
    a{
      text-decoration: underline;
    }
  }
  .errors{
    font-size: 1rem;
  }
}

html{
  #loading{
    display: none;
    @include transition(background .5s ease);
  }
  &.loading{
    overflow: hidden;
    height: 100%;
    body{
      overflow: hidden;
      height: 100%;
    }
    #loading{
      display: block;
      position: fixed;
      top:0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 999;
      background: -moz-radial-gradient(center, ellipse cover, rgba(215, 245, 232, 0.52) 0%, rgba(215, 245, 232, 0) 100%), $color-blue;
      background: -webkit-radial-gradient(center, ellipse cover, rgba(215, 245, 232, 0.52) 0%, rgba(215, 245, 232, 0) 100%), $color-blue;
      background: radial-gradient(ellipse at center, rgba(215, 245, 232, 0.52) 0%, rgba(215, 245, 232, 0) 100%), $color-blue;
    }
  }
  #flyingGirl{
    width: 100%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 280px;
    @include bp($xs){
      max-width: 440px;
    }
    @include bp($sm){
      max-width: 640px;
    }
    img{

    }
    p{
      color:white;
    }
  }
}

.logo-despensa{
  max-width: 200px;
  vertical-align: middle;
  @include bp($lg){
    max-width: 240px;
  }
}

.checkbox-container{
  position: relative;
}

input[type="checkbox"]{
  top: 0;
  left: 0;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  display: inline-block;
  vertical-align: middle;
  z-index: 100;
  width: 1rem;
  height: 1rem;
  &:focus{
    &+label{
      &:before{
        border-color: $color-blue-dark;
      }
    }
  }
  &:checked{
    &+label{
      &:after{
        opacity: 1;
        @include transform(scale(1));
      }
      &:before{
        border-color:#fff;
      }
    }
  }
  &+label{
    padding-left: 2rem;
    font-weight: 400;
    font-size: 13px;
    padding-top: 8px;
    cursor: pointer;
    min-height: 1rem;
    &:after,
    &:before{
      content: "";
      display: block;
      width: 1rem;
      height: 1rem;
      position: absolute;
      top: 0;
      left: 0;
    }
    &:after{
      content: "×";
      opacity: 0;
      top:2px;
      left:2px;
      text-align: center;
      font-size: 1.5rem;
      line-height: 1.25rem;
      @include transform(scale(.2));
      @include transition(all .15s ease);
    }
    &:before{
      border: 2px solid #fff;
    }
  }
}